<div class="animated fadeIn">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-header">
            Add a <strong>Leader</strong>
         </div>
         <div class="card-body">
            <form [formGroup]="leaderForm" (submit)="create()">
               <div class="row">
                  <div class="form-group col-sm-6">
                     <label for="bank-name">Full Name</label>
                     <input type="text" class="form-control" id="bank-name" placeholder="Name" formControlName="name">
                     <span *ngIf="leaderForm.get('name').errors && (leaderForm.get('name').dirty || leaderForm.get('name').touched)">
                        <span class="help-block text-red" *ngIf="leaderForm.get('name').errors.required">Full name is required</span>
                        <span class="help-block text-red" *ngIf="leaderForm.get('name').errors.minlength">Too short name</span>
                        <span class="help-block text-red" *ngIf="leaderForm.get('name').errors.maxlength">Too long name</span>
                     </span>
                  </div>

                  <div class="form-group col-sm-6">
                     <label for="address">Address</label>
                     <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
                     <span *ngIf="leaderForm.get('address').errors && (leaderForm.get('address').dirty || leaderForm.get('address').touched)">
                        <span class="help-block text-red" *ngIf="leaderForm.get('address').errors.required">Address is required</span>
                     </span>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-sm-2">
                     <label for="gender">Gender</label>
                     <select class="form-control" id="gender" formControlName="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                      </select>
                     <span *ngIf="leaderForm.get('gender').errors && (leaderForm.get('gender').dirty || leaderForm.get('gender').touched)">
                        <span class="help-block text-red" *ngIf="leaderForm.get('gender').errors.required">Gender is required</span>
                     </span>
                  </div>
                  <div class="form-group col-sm-4">
                     <label for="number">Mobile Number</label>
                     <input type="text" class="form-control" id="number" placeholder="Mobile Number" formControlName="number">
                     <span *ngIf="leaderForm.get('number').errors && (leaderForm.get('number').dirty || leaderForm.get('number').touched)">
                        <span class="help-block text-red" *ngIf="leaderForm.get('number').errors.required">Mobile Number is required</span>
                        <span class="help-block text-red" *ngIf="leaderForm.get('number').errors.number">Mobile Number is invalid</span>
                        <span class="help-block text-red" *ngIf="!leaderForm.get('number').errors.number && (leaderForm.get('number').errors.minlength || leaderForm.get('number').errors.maxlength)">Mobile Number length should be 10</span>
                     </span>
                  </div>
                  <div class="form-group col-sm-6">
                     <label for="email">Email</label>
                     <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
                     <span *ngIf="leaderForm.get('email').errors && (leaderForm.get('email').dirty || leaderForm.get('email').touched)">
                        <span class="help-block text-red" *ngIf="leaderForm.get('email').errors.required">Email is required</span>
                        <span class="help-block text-red" *ngIf="leaderForm.get('email').errors.email">Invalid email address</span>
                     </span>
                  </div>
               </div><!--/.row-->
               <div class="row">
                  <div class="form-group col-sm-2">
                     <label for="payment_status">Payment</label>
                     <select class="form-control" id="payment_status" formControlName="payment_status">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                     </select>
                     <span *ngIf="leaderForm.get('gender').errors && (leaderForm.get('gender').dirty || leaderForm.get('gender').touched)">
                        <span class="help-block text-red" *ngIf="leaderForm.get('gender').errors.required">Gender is required</span>
                     </span>
                  </div>
                  <div class="form-group col-sm-10">
                     <div class="form-group">
                        <label for="logo">Image</label>
                        <div class="col-md-12">
                           <input type="file" id="logo" (change)="uploadPicture()" #fileInput accept="image/x-png,image/gif,image/jpeg,image/jpg" formControlName="image">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-actions">
                  <button type="submit" class="btn btn-success" [disabled]="buttonClicked || leaderForm.invalid">Save</button>
                  <!-- <button class="btn btn-secondary" type="button">Cancel</button> -->
               </div>
            </form>
         </div>
      </div>
   </div><!--/.col-->
</div>